# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: | 
    sudo apt-get update
    apt-get install -y --no-install-recommends ca-certificates curl wget
    export JULIA_VERSION=1.0.3
    yes | bash -ci "$(curl -fsSL https://raw.githubusercontent.com/abelsiqueira/jill/master/jill.sh)"
  displayName: 'Install Julia'
- script: julia -O0 --project=@. -e 'using Pkg; Pkg.test("RayCast"; coverage=true)'
  displayName: 'Run Tests'
